In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\kassa\appdata\local\programs\python\python311\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\kassa\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (4.21.12)

In [36]:
import mysql.connector as connector

In [37]:
connection = connector.connect(user='root', password='1234', db = 'littlelemondb')

In [38]:
cursor = connection.cursor()

In [39]:
show_tables_query = """SHOW TABLES"""

In [40]:
cursor.execute(show_tables_query)

In [41]:
for table in cursor:
    print(table)

('bookings',)
('customer',)
('deliverystats',)
('menu',)
('menuitem',)
('orderitems',)
('orders',)
('orderstats',)
('staff',)

In [42]:
detail = """
SELECT Customer.CustomerName, Customer.CustomerPhone, Orders.TotalCost
FROM Customer JOIN Orders ON Customer.CustomerID = Orders.CustomerID
WHERE TotalCost > 60
"""

In [43]:
cursor.execute(detail)

In [44]:
result = cursor.fetchall()

In [45]:
cols = cursor.column_names

In [46]:
print(cols)
for i in result:
    print(i)

('CustomerName', 'CustomerPhone', 'TotalCost')
('Vanessa McCarthy', '757536378', Decimal('100'))
('Marcos Romero', '757536379', Decimal('150'))
('Hiroki Yamane', '757536376', Decimal('200'))
('Anna Iversen', '757536375', Decimal('150'))
('Diana Pinto', '757536374', Decimal('230'))
('Matthew Anders', '5614836453', Decimal('180'))
('Kassandra Saint', '5613604241', Decimal('310'))
('Dmytro Salko', '5614609421', Decimal('90'))
('Marcos Romero', '757536379', Decimal('120'))
('Kassandra Saint', '5613604241', Decimal('212'))
('Dmytro Salko', '5614609421', Decimal('90'))
('Matthew Anders', '5614836453', Decimal('400'))

In [35]:
cursor.close()

True